.cards {
    font-family: sans-serif;
    text-align: center;
    background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1612446374_144-p-cherno-serii-fon-dlya-fotoshopa-186.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
    object-fit: cover; 
    object-position: bottom; 
  }

  .form-actions {
    margin: 15px 10px;
    width: 100px;
  }
  
  .form-cart {
    margin: 15px 10px;
    width: 150px;
  }